#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define JP_PIPE         LS(0x89)          // |

&mt {
    flavor = "tap-preferred"; // change hold to tap
    tapping-term-ms = <200>;
    quick-tap-ms = <150>; // change 200 to 150
};

&lt {
    flavor = "tap-preferred";
    tapping-term-ms = <150>; // change 200 to 150
    quick-tap-ms = <150>; // change 200 to 150
};

/ {
    combos {
        compatible = "zmk,combos";

        lang1 {
            bindings = <&kp LANG1>;
            key-positions = <12 13>; /* D + F */
            layers = <0>;
        };

        lang2 {
            bindings = <&kp LANG2>;
            key-positions = <16 17>; /* J + K */
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11 12>; /* Q + W */
            layers = <0>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <16 17>; /* J + K (on layer 2) */
            layers = <2>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <18 19>; /* L + - (on layer 2) */
            layers = <2>;
        };

        ctrl_home {
            bindings = <&kp LC(HOME)>;
            key-positions = <16 18>; /* J + L (on layer 2) */
            layers = <2>;
        };

        ctrl_end {
            bindings = <&kp LC(END)>;
            key-positions = <17 19>; /* K + - (on layer 2) */
            layers = <2>;
        };

        bou {
            bindings = <&kp MINUS>;
            key-positions = <9 8>;
            layers = <0>;
        };
    };

    moC: moC {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp INT3>, <&kp JP_PIPE>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";
        layout = &LOW_PROFILE_DEFAULT;

        win_default_layer {
            display-name = "BASE";
            bindings = <
&mt ESC Q  &kp W             &kp E        &kp R             &kp T                  &kp Y       &kp U              &kp I  &kp O              &kp P
&kp A      &kp S             &kp D        &kp F             &kp G                  &kp H       &kp J              &kp K  &kp L              &kp SEMICOLON
&kp Z      &kp X             &mt LCTRL C  &mt LEFT_SHIFT V  &kp B                  &mkp MB1    &mkp MB2           &kp N  &mt RIGHT_SHIFT M  &mt RCTRL COMMA  &kp DOT  &lt 4 SLASH
&kp GRAVE  &mt LEFT_ALT TAB  &lt 2 SPACE  &mt LCTRL SPACE   &mt RIGHT_SHIFT ENTER  &lt 1 BSPC  &mt RIGHT_GUI DEL  &moC
            >;
        };

        layer_1 {
            display-name = "SYMBOLS";
            bindings = <
&kp N1    &kp N2     &kp N3             &kp N4     &kp NUMBER_5   &kp N6     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9   &kp N0
&kp EXCL  &kp AT     &kp HASH           &kp DLLR   &kp PRCNT      &kp CARET  &kp AMPS      &kp ASTRK     &kp SEMICOLON  &kp SQT
&none     &kp COLON  &kp DOUBLE_QUOTES  &kp SLASH  &kp MINUS      &mkp MB4   &mkp MB5      &kp PLUS      &kp EQUAL      &kp COMMA  &kp PERIOD  &none
&trans    &trans     &mo 3              &trans     &kp BACKSPACE  &none      &trans        &trans
            >;
        };

        layer_2 {
            display-name = "NUM / ARROW";
            bindings = <
&none           &none           &mmv MOVE_UP    &none            &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SQT   &kp UP_ARROW  &kp C_VOL_DN     &kp C_VOL_UP
&msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp LBKT              &kp RBKT               &kp LEFT  &kp DOWN      &kp RIGHT        &msc SCRL_UP
&msc SCRL_LEFT  &none           &none           &kp LEFT_SHIFT   &kp SEMICOLON         &mkp MB4               &mkp MB5  &kp SQT       &kp RIGHT_SHIFT  &none         &none  &msc SCRL_RIGHT
&trans          &trans          &trans          &trans           &kp BACKSPACE         &mo 3                  &trans    &trans
            >;
        };

        layer_3 {
            display-name = "FUNCTION";
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5   &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &bt BT_CLR_ALL  &bt BT_CLR_ALL  &none         &none         &none
&kp F11  &kp F12  &none   &none   &none    &none           &none           &none         &none         &none         &none  &sys_reset
&trans   &trans   &trans  &trans  &trans   &trans          &trans          &trans
            >;
        };

        layer_4 {
            display-name = "SETTING";
            bindings = <
&bootloader  &none   &none   &none   &none   &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none        &none   &none   &none   &none   &bt BT_CLR    &bt BT_CLR_ALL  &none         &none         &none
&none        &none   &none   &none   &none   &none         &none           &none         &none         &none         &none  &none
&trans       &trans  &trans  &trans  &trans  &trans        &trans          &trans
            >;
        };
    };
};
